body {
   color:black;
   background:rgb(blue);
   margin: 0px;
}

header { 
   border-bottom: solid 2px rgb(blue);
   padding: 20px;
   font-size: 32px;
   color: rgb(black);

}  

section {
   background: rgb(blue);
   padding-bottom: 80px;
   padding-top: 80px;
   display: flex;
   justify-content: center;
}


.chamada-texto {
   margin-right: 5%;

}